.details {
	padding: 70px 30px;
}
.details--body {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.details--body_inner-body {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.details--body_text {
	display: flex;
	justify-content: space-between;
}
.temp-details_title {
	font-size: 12px;
	line-height: 14px;
	color: var(--secondary-text-color);
}
.temp-details_Description {
	font-size: 18px;
	line-height: 21px;
}
.details--body_text-1 {
	font-size: 24px;
	line-height: 28px;
}

.details--body_text-2 {
	font-size: 24px;
	line-height: 28px;
	color: var(--secondary-text-color);
}
