.forecast {
	display: flex;
	flex-direction: column;
	padding: 70px 30px;
}
.forecast--body {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.forecast--body-heading {
	font-size: 24px;
	line-height: 28px;
}
.forecast--body--hourly {
	row-gap: 20px;
	display: flex;
	flex-direction: column;
}
.forecast--body--hourly_title {
	font-size: 18px;
	line-height: 21px;
	color: var(--secondary-text-color);
}
.forecast--body--hourly_time-icon {
	display: flex;
	overflow: scroll;
	gap: 30px;
}

.forecast--body--hourly_time-icon--container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.forecast--body--hourly_time-temp {
	font-size: 12px;
	line-height: 14px;
}

.forecast--body--daily {
	row-gap: 20px;
	display: flex;
	flex-direction: column;
}
.forecast--body--daily_title {
	font-size: 18px;
	line-height: 21px;
	color: var(--secondary-text-color);
}
.forecast--body--daily_time-icon-temp--container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	column-gap: 30px;
	align-items: center;
}
.forecast--body--daily_time-date {
	font-size: 12px;
	line-height: 14px;
	color: var(--secondary-text-color);
}

.forecast--body--daily_time-temp {
	font-size: 10px;
	line-height: 11px;
	color: var(--secondary-text-color);
}
.forecast--body--daily_time-icon {
	display: flex;
	gap: 1rem;
	overflow-x: scroll;
}
