.location {
	display: flex;
	flex-direction: column;
	padding: 70px 30px;
	row-gap: 50px;
}
.location--header {
	display: flex;
	justify-content: space-between;
}
.location--header_text-icon {
	display: flex;
	color: #616161;
	align-items: center;
	column-gap: 5px;
}
.location--header_plus-icon {
	color: #616161;
}
.location--body {
	display: flex;
	justify-content: space-between;
}
.location--body--details {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	color: #616161;
}
.location--body--details_city {
	font-size: 24px;
	line-height: 28px;
	color: black;
}
.location--body--details_temp {
	font-size: 18px;
	line-height: 21px;
}

.location--body--details_temp-text {
	font-size: 12px;
	line-height: 14px;
}
