.weather-container {
	height: 100vh;
	/* display: var(--d-flex);
	flex-direction: var(--f-d-c); */
	display: flex;
	flex-direction: column;
}
.weather-text {
	/* display: var(--d-flex); */
	display: flex;
	justify-content: center;
	height: 50%;
	align-items: flex-end;
}
.weather-footer {
	display: flex;
	justify-content: center;
	height: 50%;
	align-items: flex-end;
	padding-bottom: 2rem;
}
