.city-temp {
	display: flex;
	justify-content: space-between;
}
.city-temp--details {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	color: var(--secondary-text-color);
}
.city-temp--details_city {
	font-size: 24px;
	line-height: 28px;
	color: var(--primary-text-color);
}
.city-temp--details_temp {
	font-size: 18px;
	line-height: 21px;
}

.city-temp--details_temp-text {
	font-size: 12px;
	line-height: 14px;
}
