:root {
	--primary-text-color: black;
	--secondary-text-color: #616161;
	--primary-background-color: white;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--primary-text-color);
	background: var(--primary-background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.border {
	border: 1px solid green;
}
