.settings {
	padding: 70px 30px;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.settings--header {
	display: flex;
	align-items: center;
	color: var(--secondary-text-color);
}
.settings--header_title {
	font-size: 18px;
	line-height: 21px;
}
.settings--headings {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.settings-titles {
	font-size: 24px;
	line-height: 28px;
}
.settings--titles--body {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	color: var(--secondary-text-color);
}
.settings--titles_sub-titles {
	font-size: 18px;
	line-height: 21px;
}
.settings--titles_sub-titles_text {
	font-size: 12px;
	line-height: 14px;
}
